@import "tailwindcss";

:root {
  --color-primary: #4483C4;
  --color-secondary:#FDC939;
}

body {
  margin: 0 auto;
}

a{
  text-decoration: none;
}

@layer base {
  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}
